block header
  header.main-header
    .grid.grid--container
      .row.row--md-center
        .col.col--sm-3.col--xs-9
          a(href="").logo
        .col.col--sm-2.col--sm-offset-7.col--xs-3
          .menu
            .menu__icon
            .menu__text Все <br> истории