extends layout.pug

block content

  .adventure
    .grid.grid--container
      .row
        .col.col--lg-8.col--lg-offset-2
          .adventure-header
            .adventure__logo
              img(src="./img/logo-sweat.png", alt="")
            .adventure__bear
              img(src="./img/logo-bear.png", alt="")
            .plane-with-path
              img(src="./img/plane-with-path.png", alt="")
          .text
            h1.h1 Новые<br>приключения<br>Сластены
            i.italic Жизнь Сластёны нельзя назвать скучной. Его родители выросли в заповеднике – спокойном и уютном месте, но слишком тихом для их авантюрного духа. Однажды, когда родители еще были молодыми медведями, они решили что их дитя никогда не будет скучать. С момента рождения Сластёны на свет, они путешествуют по всему миру. Каждый день Сластены наполнен приключениями и он может почувствовать себя в любой роли. Сначала он думал, что все дети живут так, но чем больше знакомился с миром, тем больше понимал, что так повезло только ему. Тогда он решил, что  каждым своим приключением он будет делиться со всеми детьми и это станет праздником для каждого ребенка.
            h2.content-header Содержание:
            .dashed

        .col.col--lg-10.col--lg-offset-2
          .content
            .content__item
              a(href="").content__img
                img(src="./img/content-1.png", alt="")
              .content__container
                a(href="").content__header История одного колеса
                .content__anons Шел тридцатый день пребывания Сластёны с родителями в Нью-Скейтленде. Приключений уже давно не было, и жизнь их текла довольно вяло. Сластёна как обычно плотно позавтракал и &hellip;
            .content__item
              a(href="").content__img
                img(src="./img/content-2.png", alt="")
              .content__container
                a(href="").content__header Один день в Пчелограде
                .content__anons Шел тридцатый день пребывания Сластёны с родителями в Нью-Скейтленде. Приключений уже давно не было, и жизнь их текла довольно вяло. Сластёна как обычно плотно позавтракал и &hellip;
            .content__item
              a(href="").content__img
                img(src="./img/content-3.png", alt="")
              .content__container
                a(href="").content__header СластЁна, кукурузник<br>и вкусности
                .content__anons Шел тридцатый день пребывания Сластёны с родителями в Нью-Скейтленде. Приключений уже давно не было, и жизнь их текла довольно вяло. Сластёна как обычно плотно позавтракал и &hellip;

        .col.col--lg-4.col--lg-offset-5.col--sm-5.col--sm-offset-4
          .pagination
            a(href="").pagination__link.pagination__link--active 1
            a(href="").pagination__link 2
            a(href="").pagination__link 3
            a(href="").pagination__link.pagination__link--arrow ›





