extends layout.pug

block content

  .page
    .prlx
      .grid.grid--container
        .prlx__item.prlx__plane
          img(src="./img/plane.png", alt="")
        .prlx__item.prlx__cloud--1
          img(src="./img/prlx-1.png", alt="")
        .prlx__item.prlx__cloud--2
          img(src="./img/prlx-2.png", alt="")
        .prlx__item.prlx__cloud--3
          img(src="./img/prlx-3.png", alt="")
        .prlx__item.prlx__cloud--4
          img(src="./img/prlx-4.png", alt="")
    main
      i.hero
        header.main-header
          .grid.grid--container
            .row.row--md-center
              .col.col--sm-3.col--xs-9
                a(href="").logo
              .col.col--sm-2.col--sm-offset-7.col--xs-3
                .menu
                  .menu__icon
                  .menu__text Все <br> истории


      .parallax-container
        #scene
          div(data-depth="0").parallax.parallax--sun
            img(src="./img/sun.png", alt="")
          div(data-depth="0.05").parallax.parallax--cloud-1
            img(src="./img/cloud-1.png", alt="")
          div(data-depth="0.1" data-invert-x="true").parallax.parallax--raven
            img(src="./img/raven.png", alt="")
          div(data-depth="0.3").parallax.parallax--sweet
            img(src="./img/sweet.png", alt="")
          div(data-depth="0.15").parallax.parallax--cloud-2
            img(src="./img/cloud-2.png", alt="")
          div(data-depth="0.1").parallax.parallax--cloud-3
            img(src="./img/cloud-3.png", alt="")
          //- div(data-depth="0.1").prlx__cloud--1
          //-   img(src="./img/prlx-1.png", alt="")
          //- div(data-depth="0.1").prlx__cloud--2
          //-   img(src="./img/prlx-2.png", alt="")
          //- div(data-depth="0.1").prlx__cloud--3
          //-   img(src="./img/prlx-3.png", alt="")
          //- div(data-depth="0.1").prlx__cloud--4
          //-   img(src="./img/prlx-4.png", alt="")
          //- div(data-depth="0.1").prlx__plane
          //-   img(src="./img/plane.png", alt="")


      .grid.grid--container
        .row
          .col.col--md-10.col--md-offset-1
            .text
              h1.h1.text-center Сластёна, кукурузник и вкусности
              .text__img
                img(src="./img/tower.png", alt="")
          .col.col--md-8.col--md-offset-2
            .text
              p
                span.first-symbol О
                | днажды Сластёна с родителями отправился в страну Кукурузию, где производили любимые всеми детьми кукурузные хлопья. Технология производства хранилась под строжайшим секретом и оставалась для всех загадкой.
              p - Смотри, Сластёна. - сказал папа-медведь. – Это бескрайние поля Кукурузии! Здесь выращивают самую полезную, вкусную и сладкую кукурузу для детишек со всей Земли. Когда мы с твоей мамой были маленькими, мы просто обожали эти завтраки. Узнать тайну производства не удается практически никому, но тебе невероятно повезло. Подруга твоей мамы – дочь владельца этих полей. И сегодня тебе представится возможность приподнять завесу тайны. Познакомься, это Лев Вжухин, он тебе все расскажет и покажет. Встретимся вечером, сынок! 
              p - Ну, здравствуй, молодой человек, – немного томно произнес Вжухин. - Пойдем, я познакомлю тебя с товарищем Быстрокрылом.
              p - Быстрокрыл? – широко раскрыв глаза, спросил Сластёна. – Это что, какой-то ваш питомец? 
              p - Можно, конечно, и так выразиться. Но Быстрокрыл может и обидеться. Они шагали сквозь желто-золотистые чистые прекрасные поля кукурузы. Сластёна глубоко вдыхал этот волшебный, наполненный манящим ароматом воздух и жадно пытался запомнить каждый уголок этого бескрайнего «секрета», как назвал его папа. Посреди одного из полей стоял он – величественный, внушающий благоговение, сверкающий на солнце самолет.
              p - Вот и знакомься, это наш кукурузник «Быстрокрыл». Он, можно сказать, накормил полстраны детей, – громко расхохотался Вжухин.
              p - Быстрокрыл – это самолет? Ничего себе! А чем он помогает в производстве?
              p - Я тебе сейчас не только покажу, но ты еще и попробуешь. Это основной бак самолета, сюда мы загружаем кукурузинку к кукурузинке. А это дополнительный бак, сюда заливается очищенная кристальная вода. Теперь залезай внутрь салона, я расскажу тебе простую схему управления Быстрокрылом. Обязательно надень шлем и очки для защиты – безопасность прежде всего! Нажимаешь красную кнопку – вот, и завертелся пропеллер. Нажмешь зеленую, и Быстрокрыл взмоет ввысь. Потом нажмешь желтую и он возьмет привычный курс над бескрайними полями.
              p Сластёна аккуратно надел шлем, очки, нажал красную кнопку. Пропеллер приятно зажжужал, рассекая воздух, и Сластёна, набрав побольше воздуха в легкие, нажал зеленую кнопку. Внизу проносились чудесные кукурузные поля, ветер приятно шевелил волосы Сластёны, и казалось, ничего нет прекрасней. Основной бак Быстрокрыла раскрылся – вжух, упали кукурузинки. Через какое-то время открылся дополнительный бак Быстрокрыла – вжух, и полилась вода на просторы полей. Быстрокрыл зашел на еще один круг и опустился на площадку рядом с летчиком Вжухиным.
              p - Как твои впечатления, сынок? – спросил он с ухмылкой.
                br
                | - Кукурузительные! – воскликнул Сластёна. Мне срочно нужно рассказать всем детям как выращивается кукуруза для их любимого вкусного завтрака.

            
            .arrows
              a(href="").arrows__left
                img(src="./img/prev.png", alt="")
                .arrows__link.arrows__link--left предыдущая <br> история
              a(href="").arrows__menu.menu
                .menu__text Все <br> истории
                .menu__icon
              a(href="").arrows__right
                img(src="./img/next.png", alt="")
                .arrows__link.arrows__link--right cледующая <br> история

      

      .flakes








