doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Сластена
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    block content

    footer.main-footer
      .grid.grid--container
        .main-footer__container
          .main-footer__magnit
            img(src="./img/magnit.png", alt="")
          .main-footer__nav.nav
            a(href="").nav__link О компании
            a(href="").nav__link Покупателям
            a(href="").nav__link Работа в компании
            a(href="").nav__link Партнерам
            a(href="").nav__link Пресс-центр

    script(src="js/jquery.min.js")
    script(src="js/slick.min.js")
    script(src="js/parallax.min.js")
    script(src="js/main.js")