extends layout.pug

block content

  style.
    .page {
      background-color: #dda86c;
    }
    .hero--with-image {
      background: url('./img/hero.png') top center no-repeat;
    }
    .flakes {
      height: 80rem;
      margin-top: 6rem;
    }
    .bg {
      border-bottom: 20px solid #8f4100;
      min-height: 60rem;
    }
    @media(max-width: 1200px) {
      .hero {
        background-image: url('./img/9/hero.png');
      }
      .bg {
        display: none;
      }
    }
    //- @media(max-width: 860px) {
    //-   .hero {
    //-     background-image: url('./img/hero-768.png');
    //-   }
    //- }

  .page
  .bg(style="background-image: url('./img/9/bg.jpg')")
  main
    //- .hero.hero--with-image
    .hero
      include header.pug


    .parallax-container
      #scene
        div(data-depth="0").parallax
          img(src="./img/9/scene-1.png", alt="" style="transform: translate(190%, -15rem)")
        div(data-depth="0").parallax
          img(src="./img/9/sweet.png", alt="" style="transform: translate(45%, -3rem)")

    .grid.grid--container
      .row
        .col.col--md-10.col--md-offset-1
          .text
            h1.h1.text-center воображариус
        .col.col--md-8.col--md-offset-2
          .text
            p
              span.first-symbol О
              | днажды Сластёна с родителями отправился в страну Кукурузию, где производили любимые всеми детьми кукурузные хлопья. Технология производства хранилась под строжайшим секретом и оставалась для всех загадкой.
            p - Смотри, Сластёна. - сказал папа-медведь. – Это бескрайние поля Кукурузии! Здесь выращивают самую полезную, вкусную и сладкую кукурузу для детишек со всей Земли. Когда мы с твоей мамой были маленькими, мы просто обожали эти завтраки. Узнать тайну производства не удается практически никому, но тебе невероятно повезло. Подруга твоей мамы – дочь владельца этих полей. И сегодня тебе представится возможность приподнять завесу тайны. Познакомься, это Лев Вжухин, он тебе все расскажет и покажет. Встретимся вечером, сынок! 
            p - Ну, здравствуй, молодой человек, – немного томно произнес Вжухин. - Пойдем, я познакомлю тебя с товарищем Быстрокрылом.
            p - Быстрокрыл? – широко раскрыв глаза, спросил Сластёна. – Это что, какой-то ваш питомец? 
            p - Можно, конечно, и так выразиться. Но Быстрокрыл может и обидеться. Они шагали сквозь желто-золотистые чистые прекрасные поля кукурузы. Сластёна глубоко вдыхал этот волшебный, наполненный манящим ароматом воздух и жадно пытался запомнить каждый уголок этого бескрайнего «секрета», как назвал его папа. Посреди одного из полей стоял он – величественный, внушающий благоговение, сверкающий на солнце самолет.
            p - Вот и знакомься, это наш кукурузник «Быстрокрыл». Он, можно сказать, накормил полстраны детей, – громко расхохотался Вжухин.
            p - Быстрокрыл – это самолет? Ничего себе! А чем он помогает в производстве?
            p - Я тебе сейчас не только покажу, но ты еще и попробуешь. Это основной бак самолета, сюда мы загружаем кукурузинку к кукурузинке. А это дополнительный бак, сюда заливается очищенная кристальная вода. Теперь залезай внутрь салона, я расскажу тебе простую схему управления Быстрокрылом. Обязательно надень шлем и очки для защиты – безопасность прежде всего! Нажимаешь красную кнопку – вот, и завертелся пропеллер. Нажмешь зеленую, и Быстрокрыл взмоет ввысь. Потом нажмешь желтую и он возьмет привычный курс над бескрайними полями.
            p Сластёна аккуратно надел шлем, очки, нажал красную кнопку. Пропеллер приятно зажжужал, рассекая воздух, и Сластёна, набрав побольше воздуха в легкие, нажал зеленую кнопку. Внизу проносились чудесные кукурузные поля, ветер приятно шевелил волосы Сластёны, и казалось, ничего нет прекрасней. Основной бак Быстрокрыла раскрылся – вжух, упали кукурузинки. Через какое-то время открылся дополнительный бак Быстрокрыла – вжух, и полилась вода на просторы полей. Быстрокрыл зашел на еще один круг и опустился на площадку рядом с летчиком Вжухиным.
            p - Как твои впечатления, сынок? – спросил он с ухмылкой.
              br
              | - Кукурузительные! – воскликнул Сластёна. Мне срочно нужно рассказать всем детям как выращивается кукуруза для их любимого вкусного завтрака.

          
          .arrows
            a(href="").arrows__left
              img(src="./img/prev.png", alt="")
              .arrows__link.arrows__link--left предыдущая <br> история
            a(href="").arrows__menu.menu
              .menu__text Все <br> истории
              .menu__icon
            a(href="").arrows__right
              img(src="./img/next.png", alt="")
              .arrows__link.arrows__link--right cледующая <br> история

    .flakes(style="background-image: url('./img/9/flakes.png')")








