extends layout.pug

block content

  style.
    .page {
      background-color: #24582b;
    }
    .hero--with-image {
      background: url('./img/hero.png') top center no-repeat;
    }
    @media(max-width: 1200px) {
      .hero {
        background-image: url('./img/hero.png');
      }
    }
    @media(max-width: 860px) {
      .hero {
        background-image: url('./img/hero-768.png');
      }
    }

  .page
  .bg(style="background-image: url('./img/2/bg.jpg')")
  .prlx
    .grid.grid--container
      .prlx__item.prlx__plane
        img(src="./img/plane.png", alt="")
      .prlx__item.prlx__cloud--1
        img(src="./img/prlx-1.png", alt="")
      .prlx__item.prlx__cloud--2
        img(src="./img/prlx-2.png", alt="")
      .prlx__item.prlx__cloud--3
        img(src="./img/prlx-3.png", alt="")
      .prlx__item.prlx__cloud--4
        img(src="./img/prlx-4.png", alt="")
  main
    //- .hero.hero--with-image
    .hero
      include header.pug


    .parallax-container
      #scene
        div(data-depth="-0.07").parallax.parallax--cloud-1
          img(src="./img/2/scene-1.png", alt="")
        div(data-depth="-0.08").parallax.parallax--cloud-3
          img(src="./img/2/scene-2.png", alt="")
        div(data-depth="0.3").parallax.parallax--sweet
          img(src="./img/hero-2.png", alt="")
        //- div(data-depth="0.1").prlx__cloud--1
        //-   img(src="./img/prlx-1.png", alt="")
        //- div(data-depth="0.1").prlx__cloud--2
        //-   img(src="./img/prlx-2.png", alt="")
        //- div(data-depth="0.1").prlx__cloud--3
        //-   img(src="./img/prlx-3.png", alt="")
        //- div(data-depth="0.1").prlx__cloud--4
        //-   img(src="./img/prlx-4.png", alt="")
        //- div(data-depth="0.1").prlx__plane
        //-   img(src="./img/plane.png", alt="")


    .grid.grid--container
      .row
        .col.col--md-10.col--md-offset-1
          .text
            h1.h1.text-center на ферме <br> “Веселая корова”
            .text__img
              img(src="./img/story/2.png", alt="")
        .col.col--md-8.col--md-offset-2
          .text
            p
              span.first-symbol Р
              | одителей Сластёны пригласили на ферму "Весёлая Корова". У входа их встречает хранитель города - директор Силус. Он вручает медвежонку костюм, который наделит его волшебной силой. На целый день Сластёна перевоплощается в супермедведя и выполняет секретную миссию. Ведь именно на ферме "Весёлая Корова" скрывается тайна вкусных подушечек с молочной начинкой. Оказывается, самая сливочная начинка получается из молока веселых коров. Сластёна подхватывает корову и несет её к специальному молочному аппарату, который с помощью щекотки веселит коров. А они за это дают самое вкусное и сладкое молоко.
            p Родителей Сластёны пригласили на ферму "Весёлая Корова". У входа их встречает хранитель города - директор Силус. Он вручает медвежонку костюм, который наделит его волшебной силой. На целый день Сластёна перевоплощается в супермедведя и выполняет секретную миссию. Ведь именно на ферме "Весёлая Корова" скрывается тайна вкусных подушечек с молочной начинкой. Оказывается, самая сливочная начинка получается из молока веселых коров. Сластёна подхватывает корову и несет её к специальному молочному аппарату, который с помощью щекотки веселит коров. А они за это дают самое вкусное и сладкое молоко.
            p Родителей Сластёны пригласили на ферму "Весёлая Корова". У входа их встречает хранитель города - директор Силус. Он вручает медвежонку костюм, который наделит его волшебной силой. На целый день Сластёна перевоплощается в супермедведя и выполняет секретную миссию. Ведь именно на ферме "Весёлая Корова" скрывается тайна вкусных подушечек с молочной начинкой. Оказывается, самая сливочная начинка получается из молока веселых коров. Сластёна подхватывает корову и несет её к специальному молочному аппарату, который с помощью щекотки веселит коров. А они за это дают самое вкусное и сладкое молоко.
            p Родителей Сластёны пригласили на ферму "Весёлая Корова". У входа их встречает хранитель города - директор Силус. Он вручает медвежонку костюм, который наделит его волшебной силой. На целый день Сластёна перевоплощается в супермедведя и выполняет секретную миссию. Ведь именно на ферме "Весёлая Корова" скрывается тайна вкусных подушечек с молочной начинкой. Оказывается, самая сливочная начинка получается из молока веселых коров. Сластёна подхватывает корову и несет её к специальному молочному аппарату, который с помощью щекотки веселит коров. А они за это дают самое вкусное и сладкое молоко.
            p Родителей Сластёны пригласили на ферму "Весёлая Корова". У входа их встречает хранитель города - директор Силус. Он вручает медвежонку костюм, который наделит его волшебной силой. На целый день Сластёна перевоплощается в супермедведя и выполняет секретную миссию. Ведь именно на ферме "Весёлая Корова" скрывается тайна вкусных подушечек с молочной начинкой. Оказывается, самая сливочная начинка получается из молока веселых коров. Сластёна подхватывает корову и несет её к специальному молочному аппарату, который с помощью щекотки веселит коров. А они за это дают самое вкусное и сладкое молоко.
            p Родителей Сластёны пригласили на ферму "Весёлая Корова". У входа их встречает хранитель города - директор Силус. Он вручает медвежонку костюм, который наделит его волшебной силой. На целый день Сластёна перевоплощается в супермедведя и выполняет секретную миссию. Ведь именно на ферме "Весёлая Корова" скрывается тайна вкусных подушечек с молочной начинкой. Оказывается, самая сливочная начинка получается из молока веселых коров. Сластёна подхватывает корову и несет её к специальному молочному аппарату, который с помощью щекотки веселит коров. А они за это дают самое вкусное и сладкое молоко.

          
          .arrows
            a(href="").arrows__left
              img(src="./img/prev.png", alt="")
              .arrows__link.arrows__link--left предыдущая <br> история
            a(href="").arrows__menu.menu
              .menu__text Все <br> истории
              .menu__icon
            a(href="").arrows__right
              img(src="./img/next.png", alt="")
              .arrows__link.arrows__link--right cледующая <br> история

      

    .flakes(style="background-image: url('./img/2/flakes.png')")








