$main = #fff
$primary = #363aa6

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid rgba(#fff, .4)

$font = 'exo', 'Arial', 'Helvetica', sans-serif
$font-header = 'ObelixPro-Bold', 'Roboto', 'Arial', 'Helvetica', sans-serif

$radius = 8px