.hero--with-image
  height 80rem
  max-width 1290px
  margin-bottom 3.5rem

@media(max-width: 1200px)
  .hero
    background-position top center
    background-repeat no-repeat
    background-size cover
    height 80rem
    max-width 1290px
    margin-bottom -5rem

@media(max-width: 860px)
  .hero
    margin-bottom -10rem




