// body
//   debug()

@media(max-width 1200px)
  .parallax-container
    display none
  .main-header
    background-size 24rem


@media(max-width 1000px)
  .grid--container
    max-width 96%
  .row
    margin 0 -2%
  .main-footer
    &__container
      flex-direction column
    &__magnit
      margin-bottom 2rem
      margin-right 1rem


@media(max-width: 800px)
  .main-footer
    &__nav
      text-align center
      .nav
        &__link
          margin-bottom 1rem
          margin-right 2rem

@media(max-width 768px)
  .text
    .h1
      font-size 5rem
  .prlx
    display none

@media(max-width 700px)
  .logo
    background-size 100%
    max-width 12rem
  .main-header
    .menu
      &__icon
        circle(6.7rem)
      &__text
        display none

@media(max-width 600px)
  .arrows
    margin-bottom 10rem
    position relative
    &__left,
    &__right
      width 42%
    img
      max-width 100%
    &__link
      font-size 1.5rem
      &--left,
      &--right
        width initial
        &:after
          opacity 1
      &--left
        &:after
          top -1rem
          transform rotate(180deg) translateX(.3rem)
      &--right
        transform translateX(1.5rem)
        &:after
          top 0
    &__menu
      bottom -15rem
      left 0
      margin auto
      position absolute
      right 0
      width 7rem
      .menu
        &__text
          transform translateX(.5rem)

@media(max-width 550px)
  .text
    .h1
      font-size 4rem
  .hero
    // background-image url('../../img/hero-360.png')
    height 50rem
  .logo
    max-width 8rem
    transform translateY(-1rem)

@media(max-width 500px)
  .main-header
    background-size 13rem
    background-position-y 3rem
  .main-footer
    &__nav
      .nav
        &__link
          display block
          margin-right 0 !important

@media(max-width 360px)
  .main-header
    background-size 11rem
  .text
    .h1
      font-size 2.8rem
  .main-header
    .menu
      &__icon
        circle(6rem)
      &__text
        display none