@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/form.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/parallax.styl'
@import 'base/modal.styl'

@import 'modifications/modifications.styl'

@import 'pages/adventure.styl'
@import 'pages/hero.styl'

.grid--container
  max-width 942px

.page
  // background-color $primary
  height 100%
  color $main
  overflow-x hidden
  position fixed
  width 100%
  z-index -1

.bg
  background-position top center
  background-repeat no-repeat
  background-size cover
  min-height 100rem
  position absolute
  top 0
  width 100%
  z-index -1

.main-header
  background url('../../img/logogo.png') no-repeat center 4rem
  padding-top 3.5rem
  position relative
  z-index 50

.menu
  max-width 6.7rem
  &__icon
    background rgba(#fff, .14) url('../../img/menu.png') 50% no-repeat
    border-radius 50%
    circle(6.7rem)
    cursor pointer
    display block
    margin-bottom 1rem
  &__text
    font-size 1.4rem
    font-style normal
    opacity .47
    // transform translateX(-2rem)
    text-align center

.logo
  background url('../../img/logo.png') top center no-repeat
  display block
  size(18rem, 15.5rem)

.hero
  // background url('../../img/hero.png') top center no-repeat
  background-size cover
  // height 80rem
  // max-width 1290px
  margin 0 auto
  // margin-bottom 3.5rem

.text
  &__img
    max-width 100%
    text-align center
    img
      display inline-block
      max-width 100%

.arrows
  align-items flex-end
  display flex
  justify-content space-between
  &__link
    color #fff
    font-family $font-header
    font-size 2.4rem
    margin-top 1.5rem
    position relative
    text-decoration none
    // width 20rem
    &:after
      content '›'
      font-family $font-header
      font-size 4rem
      opacity 0
      margin auto
      position absolute
      transition all .2s
      top .7rem
    &:hover
      &:after
        opacity 1
    &--left
      transform translateX(-1rem)
      text-align right
      width 20rem
      &:after
        left 0
        top 0
        transform rotate(180deg) translatex(-.5rem)
      &:hover:after
        transform rotate(180deg) translate(0)
    &--right
      transform translateX(3.5rem)
      width 20rem
      &:after
        right 0
        transform translateX(-.5rem)
      &:hover:after
        transform none

  &__menu
    .menu
      &__icon
        margin-bottom 0
      &__text
        color #fff
        margin-bottom 1.5rem
        transform none

.main-footer
  background-color #fff
  margin-top 6rem
  padding 2rem 0
  &__container
    align-items center
    display flex
    justify-content space-between
  &__magnit
    img
      max-width 100%
  &__nav
    .nav
      &__link
        color #363636
        display inline-block
        font-size 1.8rem
        text-decoration none
        padding-bottom 2px
        &:hover
          border-bottom 1px solid rgba(#363636, .2)
        &:not(:last-child)
          margin-right 4rem
  &--without-offset
    margin-top 0

.flakes
  background-position top center
  background-repeat no-repeat
  background-size cover
  height 28.5rem
  // transform translateY(6rem)
  width 100%

.pagination
  align-items center
  display flex
  margin-bottom 6rem
  &__link
    color #fff
    font-family $font-header
    font-size 3.4rem
    margin-right 4rem
    text-decoration none
    &--active
      font-size 6.5rem
      margin-right 3rem
    &--arrow
      margin-left 2rem


@import 'base/media.styl'


